@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Protest Guerrilla", sans-serif;
}

.container {
    background-color: rgb(234, 234, 234);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 0.4fr 1fr;
    position: relative;
}

.container .header h1 {
    font-size: 90px;
    letter-spacing: 6px;
}

.header .scoreboard {
    margin-top: 1.5rem;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.header .scoreboard .names {
    letter-spacing: 2px;
    font-size: 45px;
}

.inputX,
.inputO {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

.inputX {
    left: 4rem;
}

#playerX,
#playerO {
    padding: 0.5rem 1rem;
    font-size: 30px;
    outline: 0;
    letter-spacing: 2px;
    border-radius: 10px;
}

.inputO {
    right: 4rem;
}

.startButton {
    font-size: 60px;
    letter-spacing: 5px;

    width: 340px;
    height: 150px;
    border-radius: 40px;

    align-self: start;
    justify-self: center;
    margin-top: 5rem;
    cursor: pointer;
}


.startButton:hover {
    filter: brightness(90%);
}

.resetBoard{
    display: none;
}

@media screen and (min-width: 1700px) {
    .startButton {
        margin-top: 10rem;
    }
}

.board {
    position: relative;
    margin-top: 4rem;
    justify-self: center;
    align-self: flex-start;
    background-color: #F5DEB3;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: none;
    border-radius: 20px;
    box-shadow: -3px 2.8px 0px 3px rgba(245, 222, 179, 0.56), -12px 12px 7px 5px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.board .box {
    background-color: rgb(0, 0, 0, 0);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
}

.box:nth-child(1) {
    border-radius: 20px 0 0 0;
}

.box:nth-child(3) {
    border-radius: 0 20px 0 0;
}

.box:nth-child(7) {
    border-radius: 0 0 0 20px;
}

.box:nth-child(9) {
    border-radius: 0 0 20px 0;
}

.imageX {
    position: absolute;
    width: 100px;
    height: 100px;
}

.imageO {
    position: absolute;
    width: 70px;
    height: 70px;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
    border-bottom: 3px solid white;
}

.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6) {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    border-top: 2px solid white;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
    border-right: 3px solid white;
}

.box:nth-child(2),
.box:nth-child(5),
.box:nth-child(8) {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
    border-left: 3px solid white;
}

#dialog {
    width: 500px;
    height: 500px;
    position: absolute;
    margin: auto;
    background-color: rgb(0, 0, 0, 0);
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

#dialog::backdrop {
    backdrop-filter: blur(7px);
}

#dialog button {
    width: 200px;
    height: 70px;
    font-size: 30px;
    border-radius: 20px;
    background-color: bisque;
    cursor: pointer;
}

@media  screen and (max-width: 500px ) and (max-height: 1000px) {
    .container{
        grid-template-rows: 0.3fr 1fr;
    }

    .container .header h1{
        font-size: 60px;
        padding: 1rem;
    }

    .header .scoreboard {
        margin-top: 1.5rem;
        font-size: 22px;
    }

    .header .scoreboard .names {
        letter-spacing: 2px;
        font-size: 30px;
    }

    .startButton {
        font-size: 50px;
        width: 200px;
        height: 100px;
        border-radius: 30px;
        margin-top: 10rem;
    }

    #dialog button {
        width: 200px;
        height: 70px;
        font-size: 30px;
        border-radius: 20px;
        background-color: bisque;
        cursor: pointer;
    }

    .inputX, .inputO {
        margin-top: 14rem;
        font-size: 30px;
        width: 230px;
        left: 6rem;
    }

    .inputX{
        top: 20rem;
    }

    .inputO{
        top: 30rem;
    }

    #playerX, #playerO {
        padding: 0.2rem 1rem;
        font-size: 25px;
        outline: 0;
        letter-spacing: 2px;
        border-radius: 10px;
    }

    .board{
        margin-top: 10rem;
        width: 300px;
        height: 300px;
    }
}

@media  screen and (max-width: 400px ) and (max-height: 800px){
    .container .header h1{
        font-size: 50px;
    }

    .startButton {
        margin-top: 6rem;
    }

    .inputX{
        top: 12rem;
    }

    .inputO{
        top: 20rem;
    }

    .inputX, .inputO {
        margin-top: 14rem;
        font-size: 30px;
        width: 230px;
        left: 5rem;
    }

    .board{
        margin-top: 6rem;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:350px) and (max-height:580px){
    .container .header h1{
        font-size: 40px;
    }

    .startButton {
        margin-top: 4rem;
    }

    .inputO, .inputX{
        left: 3rem;
    }

    .inputX{
        top: 8rem;
    }

    .inputO{
        top: 14rem;
    }

    .board{
        width: 250px;
        height: 250px;
    }
}