@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(234, 234, 234);
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 0.4fr 1fr;
    position: relative;
}

.container > h1{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 90px;
    letter-spacing: 6px;
}



.board{
    position: relative;
    margin-top: 4rem;
    justify-self: center;
    align-self: flex-start;
    background-color: #F5DEB3;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 1rem; */
    display: none;
    border-radius: 20px;
    box-shadow: -3px 2.8px 0px 3px rgba(245,222,179,0.56), -12px 12px 7px 5px rgba(0,0,0,0.25);
    z-index: 0;
}

.board .box{
   background-color: rgb(0, 0, 0, 0);
    outline: none;
    border: none;
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    z-index: 1;
}

.imageX{
    position: absolute;
    width: 100px;
    height: 100px;
}

.imageO{
    position: absolute;
    width: 70px;
    height: 70px;
}


.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
    border-bottom: 3px solid white;
}

.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6) {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
    border-top: 2px solid white;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7) {
    border-right: 3px solid white;
}

.box:nth-child(2),
.box:nth-child(5),
.box:nth-child(8) {
    border-left: 3px solid white;
    border-right: 3px solid white; 
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9) {
    border-left: 3px solid white;
}